body {
    background: white;
}

.center-table {
    margin: 0 auto !important;
    float: none !important;
}

.top-buffer {
    margin-top: 20px !important;
}

.bot-buffer {
    margin-bottom: 10px !important;
}

.main {
    max-width: 70%;
    background: white;
}
